 .comment-author {
     color: red;
     margin-bottom: 0;
     background: green;
     width: 50%;
 }
 .comment-content {
     color: white;
     margin-bottom: 0;
 }

Comment {
  height: auto;
  width: 33%;
  margin-bottom: 2;
}

 .selected {
   margin-left: 2;
 }

 Vertical{
   height: auto;
 }

 Dashboard {
   border: solid red;
 }

 Container {
   border: solid yellow;
   width: 100%;
 }

 .issue-list-container{
   width: 30%;
 }

 .issue-right-container{
   width: 70%;
 }
